body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  background-image: url("images/shoreline-of-sand-and-ocean.jpg");
	height: 50%;
}

.parallax { 
  /* The image used */
  background-image: url("images/shoreline-of-sand-and-ocean.jpg");

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
	background-color: rgba(0, 255, 213, 1);
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.5);
	/* position: -webkit-sticky;
  position: sticky;
  top: 0; */
	text-align: center;
	margin-top: 20%;
	z-index: 1;
}

#maggie-powell {
  font-weight: bold;
  font-size: 75px;
}

.btn {
	background-color: rgba(0, 255, 213, 0.877);
	border-color: rgba(0, 255, 213, 0.877);
}

#portfolio {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 100px;
}

#resume {
  min-height: 250px;

}
#pdfPlaceholder{
  width: 40%;
}

.project {
  width: 210px;
  height: 156px;
  margin: 10px;
}

.imageButtons {
  min-height: 300px;
  float: left;
}

/* styling for hover with shadow and text */
.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}