body {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  background-color: #ffffff;
}

.jumbotron {
  background-color: #ffffff;
  border-bottom-style: double;
}

img {
  width: 50%;
  margin: 10px;
}

.grow:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}